body {
    margin: 0 auto;
    padding: 0;
    background-color: #009bb4;
    font-family: "Lato", sans-serif;
    text-align: center;
   
}
nav ul {
    list-style-type: none;
    background-color: #007a8c;
    text-align: center;
    margin: 0;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 1.5%;
}

nav img {
    width: 75px;
    height: 50px;

}




nav a {
    text-decoration: none;
    color: navy;
    display: block;
}

nav img:hover {
    border: 0.5px solid rgb(22, 22, 145);
}

h1 {
    font-family: "Tourney", cursive;
    color: red;
}

/*Main*/
.main{
    padding: 50px 0 50px 0;
    border: 2px solid white;
}

.match-selector{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
}

.match-selector div{   

    padding: 2rem;
    color: black;
    border: 2px green solid;
}

.main div a{
   text-decoration: none;
   display: inline-block;
   margin: 1%;
   border: 5px red solid;
   color: black;

}

.main img{
    width: 8rem;
    height: 5rem;
    border: 0.5px black solid;
}

/*Croatia*/
