/* General Styling */
body {
  margin: 0 auto;
  padding: 0;
  background-color: #007a8c;
  font-family: "Lato", sans-serif;
  text-align: center;
}

header {
  padding: 0.5rem 0 0.5rem 0;
  background-color: rgba(0, 0, 0);
}

h1 {
  font-family: "Tourney", cursive;
  color: red;
  margin-top: 1%;
  margin-bottom: 2%;
}

h2,
h3,
h4 {
  color: white;
  margin: 1%;
}

/* Navbar */
nav {
  width: 100%;
  background-color: #004a55;
}

nav ul {
  list-style-type: none;

  text-align: center;
  margin: 0;
  padding: 0.5rem;
}

nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin: 1.5%;
}

nav img {
  width: 75px;
  height: 50px;
  border-radius: 15%;
}

nav a {
  text-decoration: none;
  color: navy;
  display: block;
}

nav img:hover {
  opacity: 0.4;
  border-radius: 5%;
}

/* Landing Page */
#hero-img {
  height: 400px;
  width: 100%;
  background: url("../images/england_fc_logo.png") center center / 400px 400px repeat-x;
}

.main {
  padding: 50px 0 50px 0;
  color: white;
  overflow: hidden;
}

.match-selector {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, 25%);
}

.match-selector div {
  padding: 2rem;
  color: black;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #007a8c;
}

.main div a {
  text-decoration: none;
  margin: 1%;
  color: white;
  border-radius: 2.5%;
  border-style: none none solid none;
  transition: font-size 0.25s;
  transition-timing-function: ease-in-out;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
}

.main a:hover {
  border-color: red;
  color: red;
  font-size: 0.8em;
  opacity: 1;
  font-weight: 900;
}

.main div p {
  padding: 1% 0 0 1rem;
}

.main img {
  width: 8rem;
  height: 5rem;
}

@media (max-width: 320px) {
  .match-selector {
    width: 85%;
  }
}

@media (max-width: 700px) {
  .main div a {
    display: inline-grid;
    grid-template-rows: 45% auto auto;
    grid-row-gap: 5px;
  }

  p {
    font-size: small;
  }
}

@media (min-width: 800px) {
  .match-selector {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
  }
}

@media (min-width: 1050px) {
  .match-selector {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(8, 12%);
  }

  .main div a {
    display: flex;
  }
}

/*England Page */

.england {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #007a8c;
  flex-direction: column;
  align-items: center;
  max-width: 1040px;
  margin: 0 auto;
}

.player-media,
.player-stats {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin: 0.5rem;
  width: 90%;
  max-width: 700px;
}

table {
  width: 75%;
  margin: 0 auto;
}

th,
td,
caption {
  text-align: left;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  font-size: small;
}

caption {
  font-size: medium;
  font-weight: bold;
  color: white;
}

table,
th,
td {
  border: 0.1px solid black;
  border-style: solid none none none;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: #004a55;
  color: #07FFEA;
}

tr:nth-child(odd) {
  background-color: #004a55;
  color: white;
}

@media (min-width: 1000px) {
  .england {
    flex-direction: row;
  }

  .player-stats,
  .player-media {
    padding: 2rem 0 0 0;
    margin: 0;
    height: 90%;
  }
}

/* iframe Settings */
iframe {
  border-style: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin: 2rem 0 2rem 0;
}

.wrapper iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  margin: 0 auto;
}

/* Opponents */

.opponent {
  background-color: #007a8c;
  overflow: hidden;
  width: 98%;
  padding: 3rem 0 3rem 0;
}

.opponent #opp-intro {
  width: 98%;
  margin: 0 auto;
}

#line-up,
#stats {
  max-width: 98%;
  margin: 0 auto;
}

#flag {
  border-radius: 5%;
  width: 65%;
}

@media (min-width: 900px) {
  #line-up {
    float: right;
    max-width: 29%;
    display: block;
  }

  #stats {
    float: left;
    max-width: 29%;
    display: block;
  }

  .opponent #opp-intro {
    display: inline-block;
    width: 40%;
  }
}

/* Footer */

footer {
  bottom: 0;
  padding: 2%;
  color: #07FFEA;
  background-color: rgba(0, 0, 0, 0.7);
}

footer a {
  padding: 5%;
  color: white;
}

footer a:hover {
  opacity: 0.5;
}

footer div {
  display: inline;
}